/* Boissons.css */

/* Style global */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  flex-direction: column;
  padding-top: 50px;
}

/* Titre des boissons */
h1 {
  text-align: center;
  color: #333;
  margin-bottom: 30px;
  font-size: 2.5em;
  font-weight: bold;
}

/* Conteneur des recettes */
ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* Item de boisson */
li {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 280px;
  margin: 20px;
  padding: 20px;
  text-align: center;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease;
}

li:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}

li img {
  max-width: 100%;
  border-radius: 10px;
  margin-bottom: 15px;
}

/* Boutons */
button {
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  margin: 10px 5px;
  transition: background-color 0.3s, transform 0.2s ease;
}

button:hover {
  background-color: #45a049;
  transform: translateY(-2px);
}

button:active {
  transform: translateY(2px);
}

/* Panier */
div {
  margin-top: 50px;
  width: 100%;
  text-align: center;
}

h2 {
  font-size: 2em;
  margin-bottom: 20px;
  color: #333;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  background-color: #e3f9e5;
  border-radius: 5px;
  padding: 10px;
  margin: 5px 0;
  font-size: 1.2em;
}

ul li:last-child {
  margin-bottom: 20px;
}

p {
  font-size: 1.2em;
  color: #777;
}

/* Styles de chargement et d'erreur */
.loading, .error {
  text-align: center;
  font-size: 1.5em;
  color: #333;
}

.error {
  color: red;
}

/* Responsivité */
@media (max-width: 768px) {
  ul {
    flex-direction: column;
    align-items: center;
  }

  li {
    width: 90%;
    margin: 10px 0;
  }

  button {
    width: 100%;
  }

  .panier-container {
    width: 90%;
  }
}
